{% load static %}
<style>
</style>
<header class="header">
        <span class="logo"><img src="{% static 'principal/images/logo2.png' %}"/></span>
    </header>

    <!-- Nav -->
    <nav class="navbar navbar-style navbar-custom">
        <!--<div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="navbar-brand" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'ingresos' %}">Ingresos</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'gasto' %}">Gastos</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'calendar' %}">Calendario</a></li>
                <li class="nav-item"><a class="navbar-brand" href="{% url 'config' %}">Configuración</a></li>
            </ul>
        </div>
    </nav>